@import '../../assets/styles/mixins';

.films {
    &__title {
        @include h2;
        border-bottom: 1px solid var(--light-button-color);
        padding: 40px 40px 20px;
        color: var(--primary-bg-color);
    }
}