@import '../../assets/styles/mixins.scss';

.films {
    &__title {
        @include h2;
        border-bottom: 1px solid #D9D9D9;
        padding: 40px 40px 20px;
        color: var(--primary-bg-color);
    }
}