@import '../../assets/styles/mixins.scss';

.popular-shows {
    @include container;

    @include tablet {
        padding-top: 20px;
    }

    background-color: var(--light-bg-color);
    padding-top: 40px;
    padding-bottom: 40px;

    &__title {
        @include h2;

        @include pad {
            @include h3;
        }  

        padding-bottom: 20px;
        color: var(--primary-bg-color);
    }

    &__list {
        display: flex;
        position: relative;
        gap: 10px;
    }

    &__item {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        max-width: 150px;
    }

    &__name {
        @include txt_16;

        margin-top: 5px;
        font-weight: 500;
    }

    &__release-year, &__type {
        @include txt_13;

        color: var(--contrast-text-color);
    }

    &__details {
        margin-top: auto;
    }

    &__prev-btn, &__next-btn {
        @include border-dark;
        display: flex;
        position: absolute;
        top: 112px;
        align-items: center;
        justify-content: center;
        transform: translateY(-50%);
        z-index: 5;
        border-radius: 50%;
        background-color: var(--light-bg-color);
        cursor: pointer;
        width: 44px;
        height: 44px;
        color: var(--secondary-bg-color);
        
        svg {
            width: 20px;
            height: 20px;
        }
    }

    &__prev-btn {
        left: 10px;
        svg {
            transform: rotate(180deg);
        }
    }

    &__next-btn {
        right: 10px;
    }
}


.center-body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
    height: 290px;
}

.loader-circle-2 {
	display: inline-block;
	position: relative;
	width: 70px;
	height: 70px;
}

.loader-circle-2:before,
.loader-circle-2:after {
	display: block;
	position: absolute;
	border-width: 5px;
	border-style: solid;
	border-radius: 50%;
	content: "";
}

.loader-circle-2:before {
	border-top-color: transparent;
	border-right-color: #009688;
	border-bottom-color: #009688;
	border-left-color: transparent;
	width: 70px;
	height: 70px;
	animation: loader-circle-2-animation-2 1s linear infinite;
}

.loader-circle-2:after {
	top: 22%;
	left: 22%;
	border-top-color: transparent;
	border-right-color: #e91e63;
	border-bottom-color: #e91e63;
	border-left-color: transparent;
	width: 40px;
	height: 40px;
	animation: loader-circle-2-animation 0.85s linear  infinite;
}

@keyframes loader-circle-2-animation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@keyframes loader-circle-2-animation-2 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
    
