@import '../../assets/styles/mixins';

.random-movie {
    @include container;

    @include tablet {
        padding-top: 20px;
        padding-bottom: 40px;
    };

    background-color: var(--primary-bg-color);
    padding-top: 40px;
    padding-bottom: 40px;
    min-height: 460px;
    
    &__title {
        @include h2;

        @include pad {
            @include h3;
        }
        padding: 0 0 20px;  
        color: var(--primary-text-color);
    }

    &__img {
        @include tablet {
            flex-basis: 50%;
        };

        flex-basis: 25%;
        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__item {
        @include pad {
            flex-direction: column;
            gap: 20px;
        }

        display: flex;
        gap: 40px;
    }

    &__column {
        @include tablet {
            flex-basis: 50%;
        };

        display: flex;
        flex-basis: 75%;
        flex-direction: column;
        justify-content: space-between;
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__property {
        @include txt_16;
        color: var(--primary-text-color);
        font-weight: 700;
        span {
            margin: 0 10px 0 0;
            font-weight: 400;
        }
    }

    &__name {
        @include h3;
        color: var(--contrast-text-color);
    }

    &__btn {
        @include txt_16;
        border: 1px solid var(--contrast-text-color);
        padding: 10px;
        width: fit-content;
        text-decoration: none;
        color: var(--contrast-text-color);
    }
}

.center-body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
    height: 490px;
}

.loader-circle-2 {
	display: inline-block;
	position: relative;
	width: 70px;
	height: 70px;
}

.loader-circle-2:before,
.loader-circle-2:after {
	display: block;
	position: absolute;
	border-width: 5px;
	border-style: solid;
	border-radius: 50%;
	content: "";
}

.loader-circle-2:before {
	border-top-color: transparent;
	border-right-color: #009688;
	border-bottom-color: #009688;
	border-left-color: transparent;
	width: 70px;
	height: 70px;
	animation: loader-circle-2-animation-2 1s linear infinite;
}

.loader-circle-2:after {
	top: 22%;
	left: 22%;
	border-top-color: transparent;
	border-right-color: #e91e63;
	border-bottom-color: #e91e63;
	border-left-color: transparent;
	width: 40px;
	height: 40px;
	animation: loader-circle-2-animation 0.85s linear  infinite;
}

@keyframes loader-circle-2-animation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

@keyframes loader-circle-2-animation-2 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
    
