@import '../../assets/styles/mixins.scss';

.header {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--primary-bg-color);
    width: 100%;
    max-height: 100px;

    &__container {
        @include container;

        @include tablet {
            padding: 20px;
        }

        @include pad {
            padding: 15px;
        }

        display: flex;
        justify-content: space-between;
        padding: 20px 40px;
    }

    &__search {
        @include pad {
            display: none;
        }

        position: relative;
        transition: all .15s ease-in-out;
        border: none;
        border-radius: 10px;
        background-color: var(--secondary-bg-color);
        padding: 10px 10px 10px 40px;
        min-width: 400px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: var(--primary-text-color);

        &::placeholder {
            opacity: .5;
            color: var(--primary-text-color);
        }

        &::-webkit-search-cancel-button {
            appearance: none;
            margin-left: 10px;
            background: url('../../../public/img/cancel-btn.svg') no-repeat 50% 50%;
            background-size: 24px;
            cursor: pointer;
            width: 24px;
            height: 24px;
        }
        
        &:focus {
            outline: none;
            border: none;
            background-color: var(--primary-text-color);
            color: var(--primary-bg-color);

            & + .header__search-icon {
                background-image: url('../../../public/img/search-icon-focused.svg');
            }
        } 
    }

    &__search-container {
        position: relative;
    }

    &__search-icon {
        @include pad {
            right: 0;
            left: unset;
            cursor: pointer;
        }

        position: absolute;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        background-image: url('../../../public/img/search-icon.svg');
        background-size: 24px 24px;
        width: 24px;
        height: 24px;
    }
}