@mixin container {
    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
    max-width: 1520px;

    @media screen and (max-width: 1024px) {
        padding: 0 20px;
    }

    @media screen and (max-width: 767px) {
        padding: 0 15px;
    }
}