@mixin container {
    @include tablet {
        padding: 0 20px;
    }

    @include pad  {
        padding: 0 15px;
    }

    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
    max-width: 1520px;
}

@mixin tablet {
    @media screen and (max-width: 1023px) {
        @content;
    }
}

@mixin pad {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: 425px) {
        @content;
    }
}

@mixin h2 {
    line-height: 110%;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
}

@mixin h3 {
    line-height: 100%;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
}

@mixin h4 {
    line-height: 120%;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
}

@mixin txt_16 {
    line-height: 110%;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

@mixin txt_13 {
    line-height: 100%;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
}

@mixin border-dark {
    border: 1px solid var(--secondary-bg-color50)
}