@mixin container {
    @include tablet {
        padding: 0 20px;
    }

    @include pad  {
        padding: 0 15px;
    }

    margin: 0 auto;
    padding: 0 40px;
    width: 100%;
    max-width: 1520px;
}

@mixin tablet {
    @media screen and (max-width: 1023px) {
        @content;
    }
}

@mixin pad {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin phone {
    @media screen and (max-width: 425px) {
        @content;
    }
}

@mixin h2 {
    line-height: 125%;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
}

@mixin txt_16 {
    line-height: 100%;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}