:root {
    --primary-bg-color: #141414;
    --secondary-bg-color: #333533;
    --secondary-bg-color50: #33353379;
    --dark-bg-color: #000000;
    --light-bg-color: #f3f3f3;
    --primary-text-color: #E8EDDF;
    --secondary-text-color: #CFDBD5;
    --contrast-text-color: #c0992f;
    --button-color: #35448E;
    --light-button-color: #D9D9D9;
}